# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database url, defaults to sql lite

DATABASE_URL="file:./dev.db"

# S3 credentials for nodejs

S3_AWS_ACCESS_KEY_ID=
S3_AWS_SECRET_ACCESS_KEY=

# S3 credentials for nextjs

NEXT_PUBLIC_S3_AWS_ACCESS_KEY_ID=
NEXT_PUBLIC_S3_AWS_SECRET_ACCESS_KEY=

# project root path for nodejs

APP_HOME=

# github creds to create issues on repo, for nextjs

NEXT_PUBLIC_GRAPHQL_URI=
NEXT_PUBLIC_GIT_ACCESS_TOKEN=
NEXT_PUBLIC_GIT_OWNER=
NEXT_PUBLIC_GIT_REPO=

# apollo creds for nodejs (not in use yet)

APOLLO_KEY=
APOLLO_GRAPH_REF=

# JWT Auth Secret

JWT_AUTH_SECRET=
