/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/* style dat.gui controls */
.dg.main > ul {
  @apply rounded-t border border-solid border-slate-400 font-nunito;
}

.dg.main > ul.closed {
  @apply border-none;
}

.dg.main > ul > li:nth-child(1) {
  @apply rounded-t;
}

.dg.main > ul > li.folder > div.dg > ul > li.title:nth-child(0) {
  @apply rounded-t;
}

.dg.main > ul > li.folder > div.dg > ul > li.title {
  @apply !bg-slate-300 text-tertiary;
  text-shadow: none;
}

.dg.main > ul > li.folder {
  @apply !bg-white;
  text-shadow: none;
}

li.cr {
  @apply !border-none !bg-white !text-tertiary;
  text-shadow: none;
}

li.cr > div > div.c > div.slider {
  @apply !bg-slate-200;
}

li.cr > div > div.c > div.slider > div.slider-fg {
  @apply !bg-primary;
}

li.cr > div > div.c > div > input {
  @apply !bg-slate-200 !leading-[1px] !text-tertiary;
}

.dg.main .close-button.close-bottom {
  @apply left-0 rounded-b !border !border-solid border-slate-400 !bg-white text-slate-400;
  text-shadow: none;
}

/* hide browser scrollbar */
/* ::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; 
  scrollbar-width: none;
} */

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;

/**
 *Use the @layer directive to tell Tailwind which “bucket” a set of custom styles belong to. 
 * Valid layers are base, components, and utilities.
 */
@layer base {
  * {
    font-family: theme(fontFamily.nunito);
    margin: 0;
    padding: 0;
  }

  body {
    width: 100%;
    min-height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 13px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  ::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

@layer components {
  .card {
    @apply rounded-lg border px-4 py-2 shadow-lg;
  }

  .glass-gradient {
    background: linear-gradient(120deg, #fff -120%, rgba(255, 255, 255, 0) 113.04%);
  }

  .glass {
    /** @apply glass-gradient shadow-lg backdrop-opacity-40 rounded-lg px-4 py-5; **/
    @apply glass-gradient shadow-lg;
  }

  .slide-track {
    width: calc(150px * 16);
  }

  .slide {
    height: 202px;
    width: 150px;
  }
}
